.navbar {
  background-color: #29303b;
  padding: 1.5rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbarLogo {
  color: #ecf0f1;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

.navbarLogo:hover {
  color: #f39c12;
}

.navbarLinks {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbarLink {
  color: #ecf0f1;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.navbarLink:hover {
  color: #f39c12;
}

.navbarUser {
  display: flex;
  gap: 1rem;
}

.navbarButton {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbarButton:hover {
  background-color: #e67e22;
}

.navbarButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(243, 156, 18, 0.5);
}

.logout{
  font-weight: 800;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

